<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlexLucene" version="6.0.0.0" targetFramework="net451" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net451" />
  <package id="Jil" version="2.14.1" targetFramework="net451" />
  <package id="LightningDB" version="0.9.3-rc1-45" targetFramework="net451" />
  <package id="Sigil" version="4.5.1" targetFramework="net451" />
</packages>