<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
    </configSections>
    <appSettings>        
        <add key="RestService.BaseUrl" value="http://localhost:9000/" />        <!-- The base URL of the ExpandoDB REST Web Service. -->
        <add key="RestService.DisableErrorTraces" value="false" />              <!-- Specifies whether or not to include detailed error traces in Web Service exceptions. -->
        
        <add key="App.DataPath" value="data" />                                  <!-- The path to the data directory. The data directory contains the Storage Engine's db files, and Lucene's index files. -->
        <add key="App.LogPath" value="log" />                                    <!-- The path to the log directory. -->
        
        <add key="StorageEngine.Compression" value="LZ4" />                      <!-- The data compression method used by the Storage Engine. Valid values are: None | LZ4 | Deflate. This setting must only be set once, right after installation. -->
        
        <add key="IndexWriter.CommitIntervalSeconds" value="300" />              <!-- How often the Lucene IndexWriter's changes are committed to disk; set this to a large value to increase indexing performance. -->
        <add key="IndexWriter.RAMBufferSizeMB" value="128" />                    <!-- The size of Lucene's RAM buffer; set this to a large value to increase indexing performance. -->        
        
        <add key="IndexSearcher.RefreshIntervalSeconds" value="0.5" />           <!-- How often the Lucene IndexSearcher is refreshed. -->    
        <add key="IndexSearcher.NullToken" value="_null_" />                     <!-- The token used in a field-scoped Lucene search expression to denote searching for a NULL field value. -->       
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="log4net.config" />
            </factoryAdapter>
        </logging>
    </common>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Sigil" publicKeyToken="2d06c3494341c8ab" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
            </dependentAssembly>            
        </assemblyBinding>
    </runtime>
</configuration>
